
<div class="m-10">
  <app-home-screen></app-home-screen>
</div>

<div class="m-10">
  <app-alert></app-alert>
</div>

<div class="m-10 grid grid-cols-1 gap-4">
  <div>
    <label class="block">Input</label>
    <input type="text" value="abc" class="input">
  </div>
  <div>
    <label class="block">Input disabled</label>
    <input type="text" value="abc" class="input" disabled>
  </div>
  <div>
    <label class="block">Input error</label>
    <input type="text" value="abc" class="input" error>
  </div>
</div>

<div class="m-10">
  <app-avatar label="AB"></app-avatar>
</div>

<div class="m-10">
  <app-svg name="times"></app-svg>
</div>

<div class="m-10">
  <app-svg-button name="times"></app-svg-button>
</div>

<div class="m-10">
  <app-chip label="Your name" (close)="onClose()"></app-chip>
</div>


