<div class="rounded-2xl bg-blue-900 p-6 w-96 overflow-hidden">
  <div class="relative w-full">
    <div class="bg-blue-500 rounded-full h-60 w-60 absolute top-0 right-0 opacity-50"
         style="margin-top: -4rem; margin-right: -4rem">
    </div>
    <div class="bg-blue-500 rounded-full h-10 w-10 absolute top-0 left-0 opacity-50"
         style="margin-top: 9rem; margin-left: 7rem">
    </div>
  </div>
  <div
    class="text-xs font-medium leading-none rounded-full inline-flex items-center px-2 py-1 bg-gray-200 text-gray-800">
    BETA
  </div>
  <div class="mt-36 text-blue-300 text-xs">
    HOME
  </div>
  <div class="text-4xl font-medium text-gray-200">
    Goodmorning,
  </div>
  <div class="text-4xl font-medium text-gray-200">
    Jim
  </div>
  <div class="bg-blue-500 opacity-50 text-gray-200 text-xs rounded-full w-full px-3 py-3 leading-none mt-4 mb-12">
    Search
  </div>
</div>

<div class="rounded-2xl w-96 p-4 bg-white text-gray-900 shadow-lg z-10" style="margin-top: -2rem;">

  <div class="flex items-center mb-4">
    Messages
    <div class="ml-2 px-2 rounded-full text-xs bg-blue-200 text-blue-900 font-medium">
      5
    </div>
  </div>

  <div class="bg-gray-100 rounded-lg px-2 py-3">
    <div class="flex items-center">
      <div class="p-2 bg-blue-500 rounded-lg w-12 h-12 flex-shrink-0">
      </div>
      <div class="w-full flex justify-between">
        <div class="px-3">
          <div class="text-sm">Jim Bean</div>
          <div class="text-xs text-gray-500">this is a message</div>
        </div>
        <div class="text-xs">8:44 am</div>
      </div>
    </div>
  </div>

  <div class="px-2 py-3">
    <div class="flex items-center">
      <div class="p-2 bg-blue-200 rounded-lg w-12 h-12 flex-shrink-0">
      </div>
      <div class="w-full flex justify-between">
        <div class="px-3">
          <div class="text-sm">Jane Bean</div>
          <div class="text-xs text-gray-500">this is another message message</div>
        </div>
        <div class="text-xs">2 days ago</div>
      </div>
    </div>
  </div>

  <div class="px-2 py-3">
    <div class="flex items-center">
      <div class="p-2 bg-blue-800 rounded-lg w-12 h-12 flex-shrink-0">
      </div>
      <div class="w-full flex justify-between">
        <div class="px-3">
          <div class="text-sm">Joe Pinto</div>
          <div class="text-xs text-gray-500">this is another message message</div>
        </div>
        <div class="text-xs">2 days ago</div>
      </div>
    </div>
  </div>
</div>
